* {
    font-family: 'caveat';
}
html{
    box-sizing: border-box;
    background-color: #F5F5F3;
}

body {
    margin: 0;
    min-width: 1450px;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 24px;
    color: white;
}
.navbar_logo i {
    color: #d49466;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 20px;
    font-size: 20px;
}
.navbar_menu li:hover,
.navbar_logo a:hover {
    background-color: #d49466;
    border-radius: 4px;
}
.navbar_icons i:hover {
    background-color: #d49466;
    border-radius: 4px;
}
.navbar_icons {
    display: flex;
    list-style: none;
    color: white;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
    margin-left: 5px;
}
.continent_navbar{
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 8px 12px;
    background-color: #e6e6e6;
    list-style:none;
}
.continent_navbar li{
    font-size : 20px;
    margin : 10px 80px 10px 80px;
    text-align : center;
}
.map{
    display: flex; 
    flex-direction: row;
    flex-wrap : wrap;
    box-shadow : 5px 10px 8px 10px #46515f;
    width: 1800px;
    height:900px;
    background-color : #E6E6E6;
    /* border : 1px dotted green; */
    margin : 50px 0px 0px 50px;    
    cursor : pointer;
}

.country{
    width : 10px;
    height : 10px;
    border-radius : 5px;
    margin : 0px;
    padding: 0px;
    background-color : 	#C3BDBA;
    opacity : 0.5;
}
.country.active{
    background-color: #46515f;
}
.Sea{
    width:10px;
    height:10px;
    border-radius : 5px;
    margin : 0px;
    padding: 0px;
    background-color : #E6E6E6;
    opacity : 0.5;
    cursor: default;
}




/* img[src="img/africa.png"]{
    max-width: 50px;
}
img[src="img/europe.png"]{
    max-width: 50px;
} */

img.continent{
    text-align : center;
    max-width:50px;
    padding-bottom : 13px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
img#world{
    text-align : center;
    max-width:100px;
    padding-bottom : 13px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
img.continent:hover{
    transform: scale(1.3);
}
img#world:hover{
    transform : scale(1.3);
}





img[src="../img/world.png"] span{
    text-align:center;
}

.navbar_newcomer {
    display: flex;
    list-style: none;
    color: white;
}
.navbar_newcomer li {
    padding: 8px 12px;
    margin-right: 20px;
}
.navbar_toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
}
#sign-in {
    font-size: 20px;
}
#create-account {
    font-size: 20px;
    background-color: #d9ccbc;
    border-radius: 6px;
}
#create-account a {
    color: black;
}
#sign-up:hover,
#login:hover {
    background-color: #d49466;
    border-radius: 4px;
}

/* 여기까지가 위에 navbar 꾸민것 */
main{
    display:flex;
    flex-direction: row;
}
.calender {
    width: 1400px;
    margin: auto;
}
.cal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cal_year-month {
    font-size: 35px;
}
.mustdolist li {
    text-decoration: underline;
}
.days {
    display: flex;
    margin: 25px 0 10px;
}
.day {
    width: 200px;
    /* margin : 0 10px 0 10px; */
    font-size: 20px;
    text-align: center;
    background-color : rgba(38, 51, 67, 0.5);
    border-radius : 10px;
}
.dates.fiveweeks{
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}
.dates.sixweeks{
    display: flex;
    flex-flow: row wrap;
    height: 960px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date ul{
    margin : 0;
    padding : 0;
}
.date.fiveweeks{
    width: 13.8%;
    height: 19.8%;
    padding: 0px;
    flex-grow: 1;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}
.date.sixweeks{
    width: 13.8%;
    height: 16.53%;
    padding: 0px;
    flex-grow: 1;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}
.date:hover{
    background-color: #B0C4DE;
    cursor : pointer;
    z-index : 100;
}
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396ee2;
}
.other {
    opacity: 0.3;
}
.planner {
    display: flex;
}
.memo {
    background-color: #e7ead9;
}
.today {
    position: relative;
    color: #ffffff;
}
.today::before {
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: -1;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #d49466;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}

.control{
    margin-top : 20px;
    display:flex;
    flex-direction: row-reverse;
}
.deleteList{
    display : inline-block; 
    padding : 5px;
    width : 150px;
    color : white;
    background-color: #263343;
    font-size: 22px;
    border-radius :45px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 white;
}
.deleteList:hover{
    background-color : #d49466;
    cursor:pointer;
    box-shadow: inset 150px 0 0 0 #d9ccbc;
    cursor: pointer;
    color: #263343;
}
.addList{
    display : inline-block; 
    margin-left : 10px;
    padding : 5px;
    width : 150px;
    color : white;
    background-color: #263343;
    font-size: 22px;
    border-radius :45px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 white;
}
.addList:hover{
    background-color : #d49466;
    cursor:pointer;
    box-shadow: inset 150px 0 0 0 #d9ccbc;
    cursor: pointer;
    color: #263343;
}
.schedule{
    color : black;
    list-style: none;
    text-align:center;
    font-size:16px;
    background-color: rgba(212,148,102, 0.6);
    border-radius:3px;  
    margin-bottom: 1.5px;
}
.schedule:nth-child(2n+1){
    color : #263343;
}
img[src="../img/delete.png"]{
    max-width: 22px;
}
img[src="../img/whiteplus.png"]{
    max-width: 22px;
}
img[src="../img/done.png"]{
    float: left;
    max-width: 25px;    
}
img[src="../img/mustdolistplus.svg"]{
    max-width:15px;
    padding-left:10px; 
    cursor:pointer;
}

.modal{
    position : fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items : center;
}
.modal_overlay{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height : 100%; 
    position : absolute;
}
.modal_inner{
    font-size: 25px;
    background-color : white;
    padding : 50px 100px;
    text-align: center;
    box-shadow : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: relative; 
    width : 40%;
    height: 40%;
    border-radius: 30px;
}
.modal_inner h1{
    font-size: 50px;
}
.modal.hidden{
    display:none;
}
input[name="schedule_title"]{
    width:290px;
    font-size:20px;
}
.schedule_description{
    width: 344px;
    margin: auto;
    text-align : left;
}
textarea[name="schedule_description"]{
    font-size:18px;
}


.saveBtn{
    background-color:#016ABC;
    color : white; 
    cursor:pointer;
    font-size : 32px;
    border-radius:32px;
}
.cancelBtn{
    color: white;
    cursor : pointer;
    font-size : 32px;
    position: absolute;
    top: 0;
    right : 0;
}

img[src="..img/cancel.png"]{
    max-width: 80px;
}


/*여기까지가 달력 본체 */

/* 이 아래부터 bucketlist */
.bucketlist {
    width: 1400px;
    margin: auto;
}
.bucketlist_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-bottom : solid black 1px; */
}
.bucketlist_name {
    color: #263343;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 45px;
}
.create_btn {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    transition: ease-out 0.3s;
    background-color: #263343;
    color: white;
    box-shadow: inset 0 0 0 0 white;
}
.create_btn:hover {
    box-shadow: inset 80px 0 0 0 #d9ccbc;
    cursor: pointer;
    color: #263343;
}
.bucketlist_main {
    width: 1400px;
    height: 2000px;
    border: solid #263343 10px;
}

/* 여기까지가 위에 navbar 꾸민것 */

/* 이 아래부터는 semantic ui Overriding하는것 */

.progress {
    width :1400px;
    margin : auto; 
    margin-top: 20px;
}
progress {
    width: 1400px;
    height: 30px;
}
progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    background: white;
}
progress::-webkit-progress-value {
    border: 0;
    border-radius: 20px;
    background: #263343;
}
progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #eee;
}
label {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress div {
    margin-bottom: 20px;
}

@media screen and (max-width: 1400px) {
    .calender {
        width: 945px;
        margin: auto;
    }
    progress {
        width: 945px;
        margin: auto;
    }
    .cal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .days {
        display: flex;
        margin: 25px 0 10px;
    }
    .day {
        width: 135px;
        font-size: 20px;
        text-align: center;
    }
    .dates {
        display: flex;
        flex-flow: row wrap;
        height: 472px;
        border-top: 1px solid #333333;
        border-right: 1px solid #333333;
    }
    .date {
        width: 131.85px;
        padding: 0px;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
    }
}

/* max-width: 768px 768 이하일때 ! */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
    .calender {
        width: 630px;
        margin: auto;
    }
    progress {
        width: 630px;
    }
    .cal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .days {
        display: flex;
        margin: 25px 0 10px;
    }
    .day {
        width: 90px;
        font-size: 20px;
        text-align: center;
    }
    .dates {
        display: flex;
        flex-flow: row wrap;
        height: 315px;
        border-top: 1px solid #333333;
        border-right: 1px solid #333333;
    }
    .date {
        width: 86.84px;
        padding: 0px;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
    }
}
