.continent_navbar{
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 0.5rem 0.75rem;
    background-color: #e6e6e6;
    list-style:none;
}
.continent_navbar li{
    font-size : 1.25rem;
    margin : 1.125rem 5rem 1.125rem 5rem;
    text-align : center;
}
main{
    display : flex;
}
.controlBtn{
    width : 90rem;
    display : flex;
    justify-content : flex-end;
    align-items : center;
    margin-left : 3.125rem;
}
.controlBtn span{
    font-size : 2rem;
}
.controlBtn input[type="checkbox"]{
    right : 0;
    left : 0;
    margin : 10px 0px 0px 1rem;
}
input[type="checkbox"]{
    cursor : pointer;
    position : relative;
    width : 4rem;
    height : 2rem;
    appearance : none;
    background : #c6c6c6;
    outline : none;
    border-radius : 1rem;
    box-shadow : inset 0 0 0.25rem rgba(0,0,0,0.2);
    transition : 0.5s;
}
input:checked[type="checkbox"]{
    background : #263343;
}
input[type="checkbox"]::before{
    content:"";
    position : absolute;
    width : 2rem;
    height : 2rem;
    border-radius : 1rem;
    top : 0;
    left : 0;
    background : #fff;
    transform : scale(1.1);
    box-shadow : 0 0.1rem 0.25rem rgba(0,0,0,0.2);
    transition : 0.5s
}
input:checked[type="checkbox"]::before{
    left : 2rem;
}
.map{
    display: flex; 
    flex-direction: row;
    flex-wrap : wrap;
    box-shadow : 5px 10px 8px 10px #46515f;
    /* width: 1800px; */
    /* height:900px; */
    width : 90rem;
    height : 45rem;
    background-color : #E6E6E6;
    /* border : 1px dotted green; */
    margin : 1rem 0rem 0rem 3rem; 
}

.country{
    /* width : 10px; */
    /* height : 10px; */
    width : 0.5rem;
    height : 0.5rem;
    border-radius : 0.25rem;
    margin : 0rem;
    padding: 0rem;
    background-color : 	#C3BDBA;
    opacity : 0.5;
    cursor : pointer;
}
.country.active{
    background-color: #46515f;
}
.Sea{
    /* width:10px;
    height:10px;
    border-radius : 5px; */
    width : 0.5rem;
    height : 0.5rem;
    border-radius : 0.25rem;
    margin : 0rem;
    padding: 0rem;
    background-color : #E6E6E6;
    opacity : 0.5;
    cursor: default;
}

#tooltip{
    position : fixed;
    display : block;
    opacity : 0;
    visibility : hidden;
    background : #262626;
    border-radius : 0.5rem;
    color : #ccc;
    text-transform : uppercase;
    font-size : 1rem;
    padding : 0.5rem 1rem;
    border : 1px solid #ccc;
}

.map:hover + #tooltip{
    opacity : 1;
    visibility: visible;
}

.Sea:hover + #tooltip{
    opacity : 0;
    visibility : hidden; 
} 
/* img[src="img/africa.png"]{
    max-width: 50px;
}
img[src="img/europe.png"]{
    max-width: 50px;
} */

img.continent{
    text-align : center;
    max-width:50px;
    padding-bottom : 13px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
img#world{
    text-align : center;
    max-width:100px;
    padding-bottom : 13px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
img.continent:hover{
    transform: scale(1.3);
}
img#world:hover{
    transform : scale(1.3);
}
img[src="../img/world.png"] span{
    text-align:center;
}

input[list="country-list"]{
    font-size : 2rem;
    height : 4rem;
    width  : 20rem;
    margin : 50px 0px 0px 50px;
}
input[list="country-list"]:focus{
    outline:none;
}
[country-list]::-webkit-calendar-picker-indicator{
    display: none;
}

.main-left{
    display : flex;
    flex-direction : column;
}
.visited-history{

    width : 90rem;
    height : 50rem;
    font-size : 2rem;
    margin : 5rem 0rem 0rem 3rem;
    border : 1px solid black;
    background-color : #A99FB4;
    background-color : #C2B098;
    background-color : rgba(194, 176, 152, 0.5);
}

.visited-title img{
    padding : 1rem 0rem 0rem 1rem;
    width : 6rem;
}
img[src="../img/passport.png"]{
    width : 5rem;
    align-items : center;
}
